<!DOCTYPE html>
<html lang="en">
<!-- 
<html lang="en" style="background:blue">
-->

<head>
    <meta charset="UTF-8">
    <title>Flask Web App</title>
    <style>
        html{
            background: green;
        }
    </style>


</head>
<body>
    <center><h1>Welcome to Flask!</h1>
    <button id="alertBtn">HELLO</button>
    <p><br></p>
    <button id="alertBtn1">BYE</button>
    <p><br></p>
    <button id="alertBtn2">next</button>

    <a href="/bye">BYEBYE</a>
<br><br>
<form action="/submit" method="post">
    <label for="fname">input your name:</label>
    <input type="text" name="fname">
    <label for="fage">input your age:</label>
    <input type="text" name="fage">        
    <input type="submit" value="Submit">
</form>

    <h2>Upload File</h2>
    <form action = "/upload" method = "POST" enctype = "multipart/form-data">
   <input type = "file" name = "file"/>
   <input type = "submit"/>
    </form>
    <p></p>

    <img src ='https://y.yarn.co/217a4941-4cd4-4645-b4da-ffb5d7267668_text.gif'></img>

    </center>

    <script src="/static/script.js"></script>
</body>
</html>

